.bg-mission-main { background-color: var(--color-mission-main); }
.bg-mission-secondary { background-color: var(--color-mission-secondary); }
.bg-mission-tertiary { background-color: var(--color-mission-tertiary); }
.text-mission-main { color: var(--color-mission-main); }
.text-mission-secondary { color: var(--color-mission-secondary); }
.text-mission-tertiary { color: var(--color-mission-tertiary); }
/** Other styles can be added here with corresponding CSS variables **/